/** Responsive Breakpoints **/
body {
  min-width: 260px;
  font: 100% Helvetica, sans-serif;
  color: white;
  background-color: #232324; }

/** Mixins **/
.header-title {
  margin-left: 4rem; }

#navmenu {
  position: sticky;
  min-height: 30px; }
  #navmenu span {
    float: right;
    display: none; }
  #navmenu ul {
    list-style-type: none; }
    #navmenu ul li {
      margin: 1rem;
      padding: 15px; }
      #navmenu ul li:hover {
        background-color: black;
        color: #232324;
        cursor: pointer; }
  @media (max-width: 416px) {
    #navmenu ul {
      display: none; }
    #navmenu span {
      display: block; } }
  @media (min-width: 416px) {
    #navmenu ul {
      display: block !important;
      float: right; }
      #navmenu ul li {
        display: inline; } }

#splash {
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  justify-content: center;
  align-items: center; }
  #splash > * {
    margin: 4rem;
    flex-grow: 1;
    flex-basis: 0; }
  #splash img {
    max-height: 300px;
    max-width: 300px;
    height: 300px;
    width: 300px;
    object-fit: contain; }
  #splash div:nth-child(2) {
    display: flex;
    align-items: center; }
  @media (max-width: 544px) {
    #splash {
      display: block; } }
  #splash #profile-pic {
    text-align: center; }
    #splash #profile-pic > img {
      width: 400px;
      border-radius: 50%; }

#splash-expand {
  cursor: pointer;
  text-align: center;
  margin-bottom: 5rem; }
  @media (max-width: 544px) {
    #splash-expand {
      display: none; } }

#about {
  margin-top: 4rem; }
  #about > div {
    display: flex;
    margin-left: 4rem; }
    #about > div section:nth-child(1) {
      border-right: 1px solid grey; }
    #about > div > section {
      flex-grow: 2;
      margin: 1rem;
      padding: 1rem;
      max-width: 50%; }
  @media (max-width: 544px) {
    #about > div {
      display: block; }
      #about > div section:nth-child(1) {
        border-right: none; } }

#projects {
  margin-top: 4rem;
  width: 100%; }
  #projects > ul {
    display: flex;
    list-style-type: none; }
    #projects > ul > * {
      border: 2px solid white;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      margin: 2rem;
      flex-grow: 1;
      flex-basis: 0; }
  #projects #mfm-extended-description {
    display: none; }
  #projects #mfm-read-more {
    display: block;
    cursor: pointer; }
  #projects #mfm-hide-more {
    display: none;
    cursor: pointer; }
  #projects .env-badges {
    display: flex; }
    #projects .env-badges > * {
      padding: 0.5rem; }
    #projects .env-badges .env-dev {
      border: 1px solid green;
      background: green; }
    #projects .env-badges .env-staging {
      border: 1px solid green;
      background: green; }
    #projects .env-badges .env-prod {
      border: 1px solid green; }
  @media (max-width: 544px) {
    #projects {
      display: block; }
      #projects > ul {
        display: block; }
        #projects > ul img {
          width: 50px; } }

#contact {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; }
  #contact > span {
    margin: 0.5rem;
    padding: 10px 0; }
    #contact > span > img {
      width: 25px; }
  #contact > a > span {
    margin: 0.5rem;
    padding: 10px 0; }
    #contact > a > span > img {
      width: 25px; }
  #contact #contact-email {
    cursor: pointer; }
    #contact #contact-email:hover {
      color: #232324; }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #232324;
  /* If you want dots under the hoverable text */
  cursor: pointer; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

.arrow,
.arrow:before {
  position: absolute;
  left: 50%; }

.arrow {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow; }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } }
